@font-face {
  font-family: "Proxima Nova ";
  src: url(fonts/proximanova_bold.otf);
  font-weight: 700;
  font-style: normal;

}
@font-face {
  font-family: "Proxima Nova ";
  src: url(fonts/proximanova_regular.ttf);
  font-weight: 400;
  font-style: normal;
}


html {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-family: "Proxima Nova";
  font-weight: 400;
  background-color: #171722;

  margin: auto 37px auto 20px;
}


.main {
  max-width: 1500px;
  display: flex;

  justify-content: center;
  flex-direction: column;
}